apiVersion: v1
kind: Service
metadata:
  name: ai-assistant
  namespace: usualstore
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: ai-assistant

